.project-page {
  width: 70%;
  margin: 0 auto 0 5%;

  &__title {
    font-size: 126px;
    margin-left: 12vw;
  }
  &__subtitle {
    font-size: 48px;
    margin-left: 5vw;
  }
  &__description {
    margin: 2.5vh 0 2.5vh 12vw;
    width: 500px;
  }
  &__summary {
    margin: 2.5vh 0 2.5vh 5vw;
    width: 500px;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-gap: 20px;
  }
}
