@tailwind base;

html,
body {
  height: 100%;
}

main {
  /* min-height: 100%; */
}

header h1 {
  letter-spacing: 10vw;
}

.frontpage header {
  @apply .py-64;
}

.hd header,
footer {
  @apply .py-16;
}

main {
  max-width: 782px;
}

@tailwind components;
@tailwind utilities;
