@tailwind base;

@font-face {
  font-family: 'IsidoraAlt';
  src: url('../assets/fonts/isidoraalt-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IsidoraAlt';
  src: url('../assets/fonts/isidoraalt-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@supports (font-variation-settings: 'wght' 100) {
  @font-face {
    font-display: swap;
    font-family: 'NeueMetanaVariable';
    font-kerning: normal;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300 900;
    src: local('Neue Metana Variable Roman'), url('NeueMetana-Variable.woff2') format('woff2-variations'),
      url('NeueMetana-Variable.woff2') format('woff2');
  }
}

html,
body {
  height: 100%;
  font-size: 18px;
}

main {
  min-height: 100%;
}

h1 {
  font-family: 'NeueMetanaVariable', sans-serif;
}

@tailwind components;
@tailwind utilities;
