<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />

    <meta content="en-us" httpequiv="Content-Language" />
    <meta content="IE=edge,chrome=1" httpequiv="X-UA-Compatible" />
    <meta content="on" httpequiv="cleartype" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
      data-hid="description"
    />
    <meta name="google" value="notranslate" />

    <meta name="HandheldFriendly" content="true" />
    <meta
      name="apple-mobile-web-app-title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta
      itemprop="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta itemprop="image" content="<%= htmlWebpackPlugin.options.card %>" />

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta
      property="og:url"
      content="<%= htmlWebpackPlugin.options.baseurl %>"
    />
    <meta
      property="og:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.card %>" />
    <meta
      property="og:site_name"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta property="og:type" content="website" />
    <meta name="fb:admins" content="<%= htmlWebpackPlugin.options.fb_id %>" />

    <!-- Twitter -->
    <meta
      name="twitter:title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta
      name="twitter:url"
      content="<%= htmlWebpackPlugin.options.baseurl %>"
    />
    <meta
      name="twitter:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      name="twitter:card"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta
      name="twitter:image:src"
      content="<%= htmlWebpackPlugin.options.card %>"
    />
    <meta
      name="twitter:site"
      content="<%= htmlWebpackPlugin.options.twitter_handle %>"
    />
    <meta
      name="twitter:creator"
      content="<%= htmlWebpackPlugin.options.twitter_handle %>"
    />

    <title><%= htmlWebpackPlugin.options.title %></title>

    <link
      href="https://fonts.googleapis.com/css?family=Audiowide|Fira+Mono"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="<%=htmlWebpackPlugin.files.chunks.main.css %>"
    />
  </head>

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <header role="header" class="header">
      <div class="header--title">
        <h1 class="header--frontend">Frontend Developer</h1>
        <h2 class="header--flowen">
          <span class="fl">Fl</span> <span class="o">o</span><br />
          <span class="w">w</span><span class="e">e</span>
          <span class="n">n</span>
        </h2>
        <h3 class="header--forhire">for hire</h3>
      </div>

      <div class="header--me">
        <h3 class="header--name">
          <span class="rou">Rou</span> <span class="h">H</span
          ><span class="un">un</span>
        </h3>

        <span class="header--birthdate">1983 &ndash; 2019</span>
      </div>
    </header>

    <main role="main" class="main">
      <section class="section introduction">
        <div class="holder">
          <div class="count">01</div>
          <h1 class="underlined">Rou Hun<br />Fan</h1>
          <p><span role="image" aria-label="wave">👋</span> Available for remote projects</p>
        </div>
      </section>

      <section class="section services">
        <div class="holder">
          <div class="count">02</div>

          <article class="article article--projects col-3">
            <h1>Projects</h1>
            <ul>
              <li>
                <a
                  href="https://www.mirabeau.nl/"
                  rel="external"
                  target="_blank"
                  >mirabeau.nl</a
                >
              </li>
              <li>
                <a
                  href="https://huisartsenpensioen.nl"
                  rel="external"
                  target="_blank"
                  >huisartsenpensioen.nl</a
                >
              </li>
              <li>
                <a
                  href="https://technoinasia.com"
                  rel="external"
                  target="_blank"
                  >technoinasia.com</a
                >
              </li>
              <li>
                <a href="https://shinbyeong.com" rel="external" target="_blank"
                  >shinbyeong.com</a
                >
              </li>
              <li>
                <a
                  href="https://xenochiku.com/015/"
                  rel="external"
                  target="_blank"
                  >audiovisual experiments</a
                >
              </li>
            </ul>

            <p>
              Other projects include interactive games, large corporate sites
              (sitecore, epicurrence, wordpress) to small marketing
              landingpages.
            </p>
          </article>

          <article class="article article--what-i-do col-3">
            <h1>What I do</h1>
            <p>
              I code designs into almost any environment. React, Vue, Gatsby,
              Wordpress. Some other tools I love to use are GSAP, three.js and
              jQuery.
            </p>
            <p>I consult on UI/UX and designs.</p>
            <p>
              I’m a strong communicator and the bridge between developers,
              designers and project managers.
            </p>
          </article>

          <article class="article article--tools col-3">
            <h1>Tools</h1>
            <ul class="article--tools-list">
              <li>Javascript</li>
              <li>React / Gatsby / Vue.js</li>
              <li>CSS / SCSS</li>
              <li>GSAP</li>
              <li>three.js</li>
              <li>SVG</li>
            </ul>

            <ul class="article--tools-list">
              <li>Figma</li>
              <li>Sketch</li>
              <li>Photoshop</li>
              <li>Illustrator</li>
            </ul>
          </article>
        </div>
      </section>

      <section class="section about-me">
        <div class="holder">
          <div class="count">03</div>

          <article class="about-me--text">
            <h1>Hello <span role="image" aria-label="peace sign">✌</span></h1>
            <p>
              Currently I am traveling througout Europe and Asia while working
              remotely with clients.
            </p>
            <p>
              In the Netherlands I’ve worked for 2 of the top 5 digital agencies
              such as
              <a href="https://valtech.nl" rel="external" target="_blank"
                >Valtech</a
              >
              and
              <a href="https://mirabeau.nl" rel="external" target="_blank"
                >Mirabeau</a
              >.
            </p>
            <p>
              I love typography, animation and internet. I try to mix all kinds
              of media with my technical skills as a developer and my aesthetic
              taste.
            </p>
          </article>

          <figure class="about-me--figure">
            <div class="">
              <img src="./img/picture-profile.jpg" alt="Me in Nepal" />
              <figcaption>
                in the mountains of Nepal
              </figcaption>
            </div>
          </figure>
        </div>
      </section>

      <section class="section contact">
        <div class="holder">
          <div class="count">04</div>

          <p class="contact--text">
            Available for remote development, design and consulting gigs - big
            and small
          </p>

          <p class="contact--cta"><span role="image" aria-label="point right">👉</span> <a href="">Contact me</a></p>
        </div>
      </section>
    </main>

    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    <script>
      window.ga = function() {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga('create', 'UA-GACODEHERE-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script
      src="https://www.google-analytics.com/analytics.js"
      async
      defer
    ></script>
  </body>
</html>
