.projects-list {
	list-style: none;
	margin: 0;
	padding: 0;

	.project {
		margin: 0 0 1.5rem;
		padding: 0 0 1.5rem;
		@include breakline;
	}

	.project-details {
		font-size: 1.4rem;
		dd {
			margin: 0 0 1rem;
		}
	}
}