[data-a-scale] {
  transform: scale(0);

  .no-js & {
    transform: scale(1);
  }
}

[data-a-split] {
  --multi: 0.5s;
  --tsa: 0;
  --sat: 0%;
  --lgt: 0%;

  text-shadow: 0 0 var(--tsa) hsl(61, var(--sat), var(--lgt));
  transition: text-shadow 10s var(--ease-out);

  .char {
    display: inline-block;
    transform: scale(0);
    transform-origin: center center;
    animation-delay: calc(var(--char-index) * 0.035s);
  }
}

.js--show[data-a-split],
.toggle:checked + [data-a-split] {
  --sat: 84%;
  --lgt: 68%;
  --tsa: 5vw;

  .char {
    animation-play-state: running;
    animation-fill-mode: forwards;
  }

  .rotate {
    animation: rotate calc(0.1s + var(--multi)) ease-out forwards;
    animation-delay: calc(var(--char-index) * 0.035s);
  }

  .scale .char {
    animation: scale calc(0.2s + var(--multi)) ease-out forwards;
    animation-delay: calc(var(--char-index) * 0.035s);
    transform-origin: center bottom;

    &:nth-child(4),
    &:nth-child(6) {
      animation-duration: 0.4s;
    }
    &:nth-child(3),
    &:nth-child(7) {
      animation-duration: 0.2s;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(7deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(0.1);
  }
  70% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
