{% extends "_includes/default.njk" %}

{% block title %}Rou Hun Fan - Freelance frontend UI developer and designer{% endblock %}

{% block content %}
  <header>
    <h1>R H F N</h1>
  </header>

  <div class="frontpage">
    <h1>
      <div>RouHun</div>
      <div>Frontend</div>
      <div>Design</div>
    </h1>

    <div>
      Availability:
      October 3days/week
    </div>

    <nav>
      <h2>Projects</h2>

      <a href="/">problem.studio</a>
      <a href="/">principlesofwealth</a>
      <a href="/">mevishaslam</a>
      <a href="/">theatrejs AV</a>
      <a href="/">mirabeau</a>
      <a href="/">huisartsenpensioen</a>
      <a href="/">shinbyeong</a>
    </nav>
    
    <nav>
      <a href="https://twitter.com/flowen_nl">twitter</a>
      <a href="https://linkedin/in/flowen">linkedIn</a>
      <a href="https://t.me/flowen">telegram</a>
    </nav>

  </div>
{% endblock %}