extends _includes/layout/_main

block append variables
  - siteTitle= "home"

block main
  section(class=siteTitle, data-router-view=siteTitle)
    div(data-scroll="", data-scroll-speed="-2.5", data-scroll-position="top")
      .blackhole
        .circle-gradient.-green
        .circle-gradient.-purple
        h1 We are design agency that rocks

    div
      include _includes/components/_clientsmenu

    div
      a.all-cases(href="/") All case studies
