{% extends "./base.njk" %}

{% set bodyClass = 'garden' %}

{% block title %}Rou Hun's digital garden{% endblock %}

{% block content %}

  {% include '../components/header.njk' %}

  <main class="bg-light pt-32">

    <section>
      <header class="flex">Rou Huny writes</header>

      <article>
        <h1>
          {{title}}
        </h1>

        {{ content | safe }}
      </article>

      <nav class="my-4">
        {# Use breadcrumb and only render the last path, which is the parent #}
        {% set path = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
        {% set parent = path | last %}

        {% if parent %}
          <a href="{{ parent.url }}">.. ☝️</a>
        {% endif %}

        {# filter on current key and only show items 1 level deeper #}
        {% set listing = collections.all | eleventyNavigation(eleventyNavigation.key) %}
        {%- for item in listing %}
          <a href="{{ item.url }}" class="block">{{ item.title }}</a>
        {%- endfor %}
      </nav>
    </section>

  </main>

  {% include '../components/footer.njk' %}
{% endblock %}