// hier alle main content en animaties
// maak animatie voor content
// voor titel
// transitie van project naar project


.section--main {
	.content-body {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 50rem;
		transform: translate(-50%, -50%);
	}
}