.nav--container {
    z-index: 700;
    position: fixed;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: $darkGrey;
    will-change: transform;

    ul {
        list-style: none;
        padding: 0;
    }

    .nav--holder {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .nav--overlay,
    .nav--gradient {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        will-change: transform;
    }

    .nav--overlay {
        width: 4rem;
        background-color: $mainColor;
    }

    .nav--gradient {
        width: 200%;
        height: 200%;
        background: linear-gradient(306deg, #6C5B7B, #5a1b2d);
    }
    

    // main navigation
    .nav--main {
        position: absolute;
        top: 50%;
        right: $m;
        transform: translate(0,-50%);

        li {
            margin: 0 3rem 0 0;
        }

        a {
            overflow: hidden;
            position: relative;
            display: block;
            color: #fff;
            font-size: 2.5rem;
            text-align: right;
            text-decoration: none;
            will-change: opacity, transform;

            &:after {
                content: ' ';
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.825);
                will-change: transform;
                transition: transform .2s ease-out;
            }
            
            &.selected,
            &:hover {
                &:after {
                    transform: translateX(100%);
                }
            }
        }
    }
    
    //**********************************************
    // navigation projects
    //**********************************************
    .nav--projects-headline {
        position: absolute;
        top: 5%;
        left: 5%;
        color: #fff;
        @include fontBody;
        font-size: 2rem;
        will-change: transform;
    }

    .nav--projects-overview {
        position: absolute;
        top: 10%;
        left: 5%;

        li {
            overflow: hidden;
            display: inline-block;
            margin: 0 0.2rem;
        }

        .nav--project {
            position: relative;
            display: block;
            width: 20rem;
            height: 60rem;
            padding: $m/2;
            box-shadow: 10px 9px 24px rgba(0,0,0,0.325);
            transition: margin .4s ease-out;
            cursor: pointer;
            will-change: transform, opacity;
            
            &:after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
            }

            &:hover {
                .nav--project-poster {
                    transform: scale(1.05) translateX(2%);
                }
            }          

            .nav--project-inner {
                z-index: 20;
                position: relative;
                width: 100%;
                height: 100%;
            }

            span {
                position: absolute;
                color: #fff;
                white-space: nowrap;
                line-height: 1;
                overflow: hidden;
                text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
            }
            
            .number {
                left: 0;
                font-size: 4rem;

                &:after {
                    content: '.';
                }
            }
            
            .title, .date {
                transform: rotate(-90deg);
                transform-origin: left bottom;
            }

            .title {
                left: 100%;
                bottom: 0;
                font-size: 4rem;
                @include fontHeading;
            }

            .date {
                left: 60%;
                bottom: 0;
                font-size: 1.4rem;
            }

            .nav--project-poster {
                position: absolute;
                top: 0;
                left: 0;
                transition: 1.5s transform;
                will-change: transform;
            }
        }
    }

    //**********************************************
    // social navigation items
    //**********************************************
    .nav--social {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 10rem 0;
        text-align: center;

        li {
            position: relative;
            display: inline-block;
            width: 1.6rem;
            margin: 0 0.8rem;
        }
        
        .anchor--social {
            display: block;
            cursor: pointer;
            will-change: transform;
            transition: transform .1s ease-out;
            
            &:hover {
                transform: scale(1.4);
            }

            path {
                fill: #fff;
            }
        }
    }
    

    //**********************************************
    // navigation close button
    //**********************************************
    .nav--close {
        position: absolute;
        top: $m * 2;
        right: $m * 3;
        width: 4.5rem;
        height: 4.5rem;
        cursor: pointer;
        z-index: 50;

        &:before,
        &:after {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 0;
            background-color: #fff;
            width: 4.5rem;
            height: 0.4rem;
            transform-origin: center center;
            transition: transform .2s ease-out;
        }

        &:before {
            transform: scale(1) rotate(45deg);
        }
        &:after {
            transform: scale(1) rotate(315deg);
        }

        &:hover {
            &:before,
            &:after {
                transform: rotate(180deg);
            }
            // &:before {
            //     transform: scale(1.25) rotate(45deg);
            // }
            // &:after {
            //     transform: scale(1.25) rotate(315deg);
            // }
        }
    }
}