.project--page {
	width: 100%;
	height: 100%;
	
	.project--bg-video {
		width: 50rem;

		> div {
			width: 100%;
			height: 0;
			padding-bottom: 75%;	
		}
		opacity: .8;
	}

	.project--info {
		bottom: 20%;
		left: 0;
		padding: 4rem;
		> * {
			position: relative;
		}
	}

	.project--title, 
	.project--descr {
		color: #fff;
	}
}