$blue: #3a4cca;
$green: #3ee63d;

// $purple: #581845;
// $darkMagenta: #900C3F;
// $red: #C70039;
// $orange: #FF5733;

$darkGrey: #252429;
$viridian: #596C68;
$sage: #95A792;
$marble: #E3D9CA;

$mainColor: $viridian;
$secondaryColor: $sage;
$white: $marble;


// margin
$m : 2rem; 

// grid
$g: 14.28vw;

// font
$f1: 'Work Sans', sans-serif;
$f2: 'Eczar', serif;

@mixin fontBody() {
	font-weight: 400;
	font-family: $f1;
}
@mixin fontHeading() {
	font-weight: 700;
	font-family: $f2;
}