.about-me {
  position: relative;

  .holder {
    flex-direction: row;

    @include mobile-only {
      flex-direction: column;
    }
  }

  .count {
    z-index: 40;
    position: absolute;
    top: #{-$col-width * 1.25};
    right: 0;

    @include tablet-portrait-up {
      top: #{-$col-width * 2};
    }
  }

  &__text {
    z-index: 30;
    position: relative;
    min-width: 40vw;
    color: $color-white;

    h1,
    a {
      color: $color-white;
      @include font-base;

      &:after {
        fill: $color-white;
      }
    }

    .line {
      right: 0;
      bottom: 0;
      transform-origin: right;
      transform: rotate(45deg);
    }
  }

  &__bg-mountain {
    z-index: 30;
    position: absolute;
    right: 0;
    top: 0;
    background: url(./img/bg-about-me.jpg) no-repeat right top;
    background-size: contain;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    opacity: 0.65;
  }

  &__inner {
    position: relative;
    z-index: 20;
    box-sizing: content-box;
    background: $color-secondary;
    padding: $col-width/2 $col-width/2 $col-width/2 $col-width/2;

    @include tablet-landscape-up {
      width: $col-width*3;
      padding-right: $col-width*2;
    }
  }

  &__figure {
    @include tablet-portrait-up {
      position: relative;
      top: $col-width;
      left: -2rem;
      min-width: 30rem;
    }

    .line {
      right: 0;
      top: 0;
      transform-origin: right;
      transform: rotate(135deg);
    }
  }

  &__img {
    @include mobile-only {
      width: 100%;
    }
  }

  &__bg-grey {
    z-index: -1;
    position: absolute;
    top: -12.5%;
    left: -12.5%;
    width: 125%;
    height: 125%;
    background: #f6f3ea;
  }

  &__caption {
    @include tablet-portrait-up {
      padding: 0 0 0 $col-width;
    }
  }
}
