.header {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
  min-height: 100vh;
  color: $color-grey-dark;

  > * {
    position: absolute;
  }

  canvas {
    position: static;
    z-index: -10;
    width: 100vw;
    height: 100vw;
    min-width: 768px;
    max-width: 1024px;
  }
  
  &--title {
    box-sizing: content-box;
    top: 20vh;
    left: 15vw;
    width: 60vw;
    height: 30vh;
    padding: $sp-sm $sp-base;
    background: rgba($color-grey-light, .3);

    @include mobile-only {
      box-sizing: border-box;
      left: 7.5vw;
      width: 85vw;
    }

    > * {
      position: absolute;
      margin: 0;
    }
  }

  &--frontend {
    z-index: -1;
    letter-spacing: .2em;
    color: $color-dark;

    @include tablet-portrait-up {
      font-size: $fs-xl;
    }
  }

  &--flowen {
    top: 0;
    left: 0;
    margin: -2.4rem 0 0;
    font-size: $fs-sm;
    text-transform: uppercase;
    transform: translateY(-100%);
    color: $color-grey-dark;

    .o {
      margin-left: 1em;
    }

    .w, .e {
      margin-left: .5em;
    }

    .n {
      margin-left: 3em;
    }
  }

  &--forhire {
    position: absolute;
    right: $sp-sm;
    bottom: $sp-sm;
    font-size: $fs-xs;
  }

  &--me {
    top: 0;
    right: $col-width;
    font-size: 1.8rem;
    text-align: right;
    transform-origin: right bottom;
    transform: rotate(-90deg);

    @include mobile-only {
      right: $col-width/2;
    }
  }

  &--name,
  &--birthdate {
    display: block;
    
  }

  &--name {
    margin: 0;
    font-size: $fs-sm;
    color: $color-grey-dark;
    line-height: 1;

    @include tablet-portrait-up {
      font-size: 1.8rem;
    }

    .h {
      margin-left: 2em;
    }

    .un {
      margin-left: 1em;
    }
  }

  &--birthdate {
    font-size: $fs-xs;
    font-family: $font-base;
  }
}
