.services {
  position: relative;
  
  .count {
    z-index: -1;
    position: absolute;
    top: -8rem;
    left: #{-$col-width};
  }

  .holder {
    @include mobile-only {
      flex-wrap: wrap;
    }

    @include tablet-portrait-up {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  
  .article {
    ul {
      @extend %list-reset;
      margin: 0 0 $sp-base;
    }

    h1 {
      font-size: $fs-md;
    }

    &--projects {
    }

    &--what-i-do {
      margin-top: $col-width;
    }

    &--tools {
      margin-top: $col-width/2;
    }
  }  
}