.services {
  position: relative;
  
  .count {
    z-index: -1;
    position: absolute;
    top: -8rem;
    left: #{-$col-width};
  }

  .holder {
    flex-wrap: wrap;
    justify-content: flex-start;

    @include tablet-portrait-up {
      flex-direction: row;
    }

    @include tablet-landscape-up {
      flex-wrap: nowrap;
      justify-content: space-around;
    }
  }
  
  .article {
    @include tablet-landscape-up {
      max-width: $col-width * 3;
      margin: 0 $col-width / 2;
    }

    ul {
      @extend %list-reset;
      margin: 0 0 $sp-base;
    }

    h1 {
      font-size: $fs-md;
    }

    &__projects {
    }

    &__what-i-do {
      margin-top: $col-width;
    }

    &__tools {
      margin-top: $col-width/2;
    }
  }  
}