.grid-lines {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  pointer-events: none;

  .col {
    // min-width: calc(100vw / 9); // we calculate with Javascript instead because of rounding bugs in browsers
    height: 100%;
    border-right: 1px solid rgba(#222, 0.05);

    &:last-child {
      border-right: none;
    }
  }
}
