.projects {
  &__list {
    @extend %list-reset;
    margin-bottom: 6vh;

    .emoji--fire {
      display: inline-block;
      transform: translateY(100%);
      transform-origin: center 19px;
      transition: transform 0.5s $ease-out;
      animation: firedance 1.5s infinite;
      text-decoration: none;
    }

    @keyframes firedance {
      20% {
        transform: scale(-1, 1);
      }
      40% {
        transform: scale(1, 1);
      }
      60% {
        transform: scale(0.7, 0.85);
      }
      80% {
        transform: scale(1, 1);
      }
    }

    @for $i from 1 through 5 {
      .projects__listitem:nth-child(#{$i}) .anchor::before {
        transition-delay: $i * 0.05s;
      }

      @for $i from 1 through 3 {
        .emoji--fire:nth-child(#{$i}) {
          transition-delay: $i * 0.05s;
          animation-delay: $i * 0.1s;
        }
      }
    }

    &[data-visible='true'] {
      .anchor::before {
        transform: translateX(0);
      }

      .anchor:hover::before {
        transform: translateX(101%) !important;
      }

      .emoji--fire {
        transform: translateY(0);
      }
    }
  }

  .anchor--hot {
    overflow: hidden;
    background: none;
    white-space: nowrap;
  }
}
