.hi {
  position: relative;
  margin: 30vh 0;
  max-height: 100vh;
  display: flex;
  flex-direction: row;

  @include mobile-only {
    flex-wrap: wrap;
  }

  @include tablet-portrait-up {
    align-items: center;
  }

  &__article {
    position: relative;
    width: 55vw;
    padding: 7vw 14vw 7vw 6vw;
    font-size: 2vmax;

    @include mobile-only {
      width: 73vw;
      padding-right: 7vw;
    }
  }

  &__drawbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: 3vmax;
  }

  &__figure {
    width: 35vw;
    margin: 0 0 0 -7vw;

    @include mobile-only {
      width: 30vw;
      margin-left: -3vw;
      align-self: center;
    }
  }

  &__img {
    &--wrapper {
      position: relative;
      background-color: $color-off-white;
    }
  }

  &__figcaption {
    margin: 0 2vmax 0 8vmax;
    font-size: 1.8vmax;

    @include mobile-only {
      display: none;
    }
  }
}
