.services {
  display: flex;
  flex-direction: column;

  .count {
    position: absolute;
    right: $col * 2;
  }

  .article {
    width: $col * 3;
    margin: 0 0 $col $col;

    &--projects {
      margin-left: $col * 3;
    }

    &--tools {
      width: $col * 5;
      margin-left: $col * 2;
    }
  }
}
