.services {
  display: flex;
  flex-direction: column;

  .count {
    position: absolute;
    right: $col * 2;
    top: -5vh;
  }

  .article {
    margin: 0 0 $col $col;

    &--what-i-do {
      width: $col * 3;
    }

    &--projects {
      width: $col * 3;
      margin-left: $col;

      @include tablet-portrait-up {
        margin-left: $col * 3;
      }
    }

    &--tools {
      margin-left: $col;

      @include tablet-portrait-up {
        width: $col * 5;
        margin-left: $col * 2;
      }
    }
  }
}
