.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__title {
    flex: 0 0 100%;
  }

  &__list {
    @extend %list-reset;
    margin: 0 1vh 3vh 0;

    @include tablet-portrait-up {
      width: $col * 2;
      margin-right: 0;
    }
  }

  &__description {
    max-width: $col * 6;
  }
}
