$white: #efefef;
$black: #0f0f0f;
$blackRGB: 16,16,16;
$grey: #75757a;
$blue: #3a4cca;
$purple: #462546;
$red: #e84a5f;

// $cb: cubic-bezier(.165,.84,.44,1);
$cb: cubic-bezier(0.2, 1, 0.3, 1);
// margin
$m: 2rem;