<header class="px-8 font-semibold text-darkred">
  <nav class="flex justify-center">
    <a href="/">R&ndash;H</a>

    <div class="flex-grow flex justify-center">
      <a href="/projects">Index</a>,&nbsp;
      <a href="/garden">Garden</a>,&nbsp;
      <a href="/contact">Contact</a>
    </div>
  </nav>
</header>