<header class="sticky top-0 px-8 py-12 font-semibold text-darkred">
  <nav class="flex justify-center font-body">
    <a href="/">R&ndash;H</a>

    <div class="flex-grow flex justify-center">
      <a href="/projects">index</a>,&nbsp;
      <a href="/writings">writings</a>,&nbsp;
      <a href="/contact">contact</a>
    </div>
  </nav>
</header>